<div class="wrapBlock wrapBlock1">
  <div class="attendance-mixBlock">
    <div class="white-block__header">Attendance mix</div>
    <table>
      <tbody>
        <tr class="header-row">
  
          <th></th>
          <th>Month to date</th>
          <th>Vs budget</th>
          <th>Vs prior Year</th>
        </tr>
        <tr>
          <td>General Admission</td>
          <td>27%</td>
          <td class="gr">(+3%)</td>
          <td class="gr">(+3%)</td>
        </tr>
        <tr>
          <td>Members</td>
          <td>49%</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Schools & Camps</td>
          <td>13%</td>
          <td class="red">(-1%)</td>
          <td></td>
        </tr>
        <tr>
          <td>Groups</td>
          <td>6%</td>
          <td class="red">(-1%)</td>
          <td class="red">(-1%)</td>
        </tr>
        <tr>
          <td>CAP</td>
          <td>3%</td>
          <td class="red">(-1%)</td>
          <td></td>
        </tr>
        <tr>
          <td>All Other</td>
          <td>2%</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>TOTAL</td>
          <td>100%</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>