<div class="wrapBlock wrapBlock1">
  <div class="revenuesBlock">
    <div class="white-block__header">Attendance</div>
    <table>
      <tbody>
        <tr class="header-row">
          <th></th>
          <th></th>
          <th>Month to date</th>
          <th>Vs budget</th>
          <th>Vs prior Year</th>
        </tr>
        <tr>
          <td><i class="gr"></i></td>
          <td>Admissions</td>
          <td class="gr">80000</td>
          <td class="gr">11,000 (+16%)</td>
          <td class="gr">+10%</td>
        </tr>
        <tr>
          <td><i class="yl"></td>
          <td>School and Camps</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><i class="red"></td>
          <td>CAP</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><i class="yl"></td>
          <td>Other Groups</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><i class="gr"></td>
          <td>Events</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><i class="gr"></td>
          <td>Free</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>TOTAL</td>
          <td class="gr">80000</td>
          <td class="gr">11,000 (+16%)</td>
          <td class="gr">+10%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>