<div class="wrapBlock wrapBlock1">
  <div class="mix-weighted-priceBlock">
    <div class="white-block__header">Mix weighted price</div>
    <table>
      <tbody>
        <tr class="header-row">
          <th>Month to date</th>
          <th>Vs budget</th>
          <th>Vs prior Year</th>
        </tr>
        <tr>
          <td>20</td>
          <td>-</td>
          <td class="gr">+20%</td>
        </tr>
        <tr>
          <td>68</td>
          <td>-</td>
          <td class="gr">+20%</td>
        </tr>
        <tr>
          <td>17</td>
          <td>-</td>
          <td class="gr">+20%</td>
        </tr>
        <tr>
          <td>124</td>
          <td>-</td>
          <td class="gr">+20%</td>
        </tr>
        <tr>
          <td>124</td>
          <td>-</td>
          <td class="gr">+20%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
