<div class="wrapBlock wrapBlock1">
  <div class="npsBlock">
    <div class="white-block__header">NPS</div>
    <table>
      <tbody>
        <tr class="header-row">
          <th></th>
          <th>Score</th>
          <th>Vs goal</th>
          <th>Vs prior Year</th>
        </tr>
        <tr>
          <td>JUNE MTD</td>
          <td>67</td>
          <td class="gr">(+1%)</td>
          <td class="gr">(+3%)</td>
        </tr>
        <tr>
          <td>YEAR TO DATE</td>
          <td>69</td>
          <td class="gr">(+2%)</td>
          <td class="gr">(+4%)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>