<div class="wrapBlock wrapBlock1">
<div class="revenuesBlock">
  <div class="white-block__header">Revenues</div>
  <table>
    <tbody>
      <tr class="header-row">
        <th></th>
        <th></th>
        <th>Month to date</th>
        <th>Vs budget</th>
        <th>Vs prior Year</th>
      </tr>
      <tr>
        <td><i class="gr"></i></td>
        <td>General Admissions</td>
        <td class="gr">80000</td>
        <td class="gr">11,000 (+16%)</td>
        <td class="gr">+10%</td>
      </tr>
      <tr>
        <td><i class="gr"></td>
        <td>Memberships</td>
        <td class="gr">700000</td>
        <td class="gr">169,000 (+19%)</td>
        <td class="gr">+10%</td>
      </tr>
      <tr>
        <td><i class="yl"></td>
        <td ng-click="showConcessions = ! showConcessions">Concessions <i class="fa-angle"></i></td>
        <td class="red">95000</td>
        <td class="red">-5,000 (-4%)</td>
        <td class="red">-3%</td>
      </tr>
      <tr ng-show="showConcessions">
        <td><i class="gr"></td>
        <td>Operating</td>
        <td class="gr">700000</td>
        <td class="gr">169,000 (+19%)</td>
        <td class="gr">+10%</td>
      </tr>
      <tr ng-show="showConcessions">
        <td><i class="gr"></td>
        <td>Non-Operating</td>
        <td class="gr">700000</td>
        <td class="gr">169,000 (+19%)</td>
        <td class="gr">+10%</td>
      </tr>
      <tr>
        <td><i class="gr"></td>
        <td>TOTAL</td>
        <td class="gr">2275000</td>
        <td class="gr">569,000 (+19%)</td>
        <td class="gr">+10%</td>
      </tr>
    </tbody>
  </table>
</div>