<div class="wrapBlock wrapBlock1">
  <div class="volumeBlock">
    <div class="white-block__header">Volume</div>
    <table>
      <tbody>
        <tr class="header-row">
          <th>Month to date</th>
          <th>Vs budget</th>
          <th>Vs prior Year</th>
        </tr>
        <tr>
          <td>4049</td>
          <td class="gr">11,000 (+16%)</td>
          <td class="gr">+10%</td>
        </tr>
        <tr>
          <td>40348</td>
          <td class="gr">11,000 (+16%)</td>
          <td class="gr">+10%</td>
        </tr>
        <tr>
          <td>5642</td>
          <td class="gr">11,000 (+16%)</td>
          <td class="gr">+10%</td>
        </tr>
        <tr>
          <td>5642</td>
          <td class="gr">11,000 (+16%)</td>
          <td class="gr">+10%</td>
        </tr>
        <tr>
          <td>5642</td>
          <td class="gr">11,000 (+16%)</td>
          <td class="gr">+10%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
